.container_section_projects {
  @include flex-center;

  .container_section_projects_container {
    @include keep-it-hundo;
    max-width: 120rem;

    .container_section_projects_linksBox {
      @include keep-it-hundo;
      max-width: 120rem;
      margin: 0 auto;

      .container_section_projects_ul {
        @include keep-it-hundo;
        @include flex-center-col;

        @include desktop {
          & {
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }
        }

        .container_section_projects_li {
          width: 22rem;
          height: 5rem;
          list-style-type: none;
          overflow: hidden;
          @include transit3;
          border: 0.1rem solid $color-white;
          cursor: pointer;

          &::before {
            content: "";
            @include keep-it-hundo;
            @include absol-center;
            background-color: $color-black;
            z-index: -1;
            opacity: 0.7;
          }

          @include desktop {
            & {
              flex-direction: row;
              justify-content: center;
              align-self: center;
            }
          }

          &:not(:last-child) {
            margin-bottom: 1rem;

            @include desktop {
              & {
                margin-bottom: 0;
              }
            }
          }

          &:hover {
            height: 20rem;

            @include desktop {
              & {
                width: 45rem;
                height: 45rem;
              }
            }

            @include desktop {
              &:hover > p {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
              }
            }
          }

          &:hover > .contentBox {
            transform: translateX(0vw);
            -webkit-transform: translateX(0vw);
            -moz-transform: translateX(0vw);
            -ms-transform: translateX(0vw);
            -o-transform: translateX(0vw);
          }

          &:hover > p {
            display: none;
          }

          @include tabletPortrait {
            & {
              width: 45rem;
              height: 10rem;
            }
          }

          @include desktop {
            & {
              width: 12rem;
              height: 45rem;
            }
          }

          .container_section_projects_li_title {
            @include keep-it-hundo;
            font-size: 1.75rem;
            font-family: $secondary-font-bold;
            letter-spacing: 0.1rem;
            @include transit3;
            @include flex-center;
            z-index: 5;

            @include tabletPortrait {
              & {
                font-size: 2.5rem;
                letter-spacing: 0.2rem;
              }
            }

            @include desktop {
              & {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
              }
            }
          }

          .contentBox {
            @include keep-it-hundo;
            @include flex-center-col;
            @include transit3;
            transform: translateX(-100vw);
            -webkit-transform: translateX(-100vw);
            -moz-transform: translateX(-100vw);
            -ms-transform: translateX(-100vw);
            -o-transform: translateX(-100vw);

            .project_site_title {
              width: 100%;
              margin-bottom: 2rem;
              font-size: 1.75rem;
              font-family: $secondary-font-bold;
              letter-spacing: 0.1rem;
            }

            .project_site_linkBox {
              width: 100%;
              @include flex-center;

              .project_site_link {
                padding: 0.5rem 2rem;
                font-size: 1.8rem;
                text-decoration: none;
                color: $color-black;
                @include transit3;
                background-color: $color-white;

                @include desktop {
                  &:hover {
                    background-color: $color-yellow;
                  }
                }
              }
            }
          }
        }

        .container_section_projects_li:nth-child(1) {
          position: relative;

          &::after {
            content: "";
            @include keep-it-hundo;
            @include absol-center;
            background: url(/public/images/DanasArtworkScreen.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
          }
        }

        .container_section_projects_li:nth-child(2) {
          position: relative;

          &::after {
            content: "";
            @include keep-it-hundo;
            @include absol-center;
            background: url(../public/images/luxury_motors_project.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
          }
        }

        .container_section_projects_li:nth-child(3) {
          position: relative;

          &::after {
            content: "";
            @include keep-it-hundo;
            @include absol-center;
            background: url(../public/images/bienchido.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
          }
        }

        .container_section_projects_li:nth-child(4) {
          position: relative;

          &::after {
            content: "";
            @include keep-it-hundo;
            @include absol-center;
            background: url(../public/images/sssbullies_project.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
          }
        }

        .container_section_projects_li:nth-child(5) {
          position: relative;

          &::after {
            content: "";
            @include keep-it-hundo;
            @include absol-center;
            background: url(../public/images/nikita-D_m45VL5s4w-unsplash.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
          }
        }
      }
    }
  }
}
