.container_section_hero {
  position: relative;

  &::before {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.7)
    );
    z-index: -1;
  }

  &::after {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background-image: url("../public/images/garrhet-sampson-CmF_5GYc6c0-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
  }

  // HEADER

  .container_section_hero_header {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 100;

    @include tabletPortrait {
      & {
        height: 5rem;
      }
    }

    @include desktop {
      & {
        height: 7rem;
        max-width: 120rem;
        margin: 0 auto;
        left: 50%;
        background-color: $color-black;
        @include transformX;
      }
    }

    // Header Nav

    .container_section_hero_nav {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      @include removeNav;
      @include transit3;
      z-index: 80;

      @include desktop {
        & {
          height: 100%;
          @include absol-center;
        }
      }

      &::after {
        content: "";
        @include keep-it-hundo;
        @include absol-topLeftZero;
        background-color: $color-black;
        opacity: 0.8;
        z-index: -1;

        @include desktop {
          & {
            display: none;
          }
        }
      }

      .container_section_hero_ul {
        @include keep-it-hundo;
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @include tabletPortrait {
          & {
            padding-top: 20rem;
          }
        }

        @include desktop {
          & {
            padding-top: 3rem;
            flex-direction: row;
            justify-content: center;
          }
        }

        .container_section_hero_li {
          position: relative;
          margin-bottom: 2rem;
          list-style-type: none;
          font-size: 3rem;
          letter-spacing: 0.5rem;

          @include tabletPortrait {
            & {
              font-size: 5rem;
            }
          }

          @include desktop {
            & {
              margin-bottom: 0;
              font-size: 2.25rem;
              -webkit-text-stroke: 0.25px #ffffff;
              -webkit-text-fill-color: transparent;
            }

            &:not(:last-child) {
              margin-right: 5rem;
            }

            &::after {
              content: "";
              width: 0;
              height: 0.15rem;
              @include absol-bottomCenter;
              @include transit3;
              background-color: $color-yellow;
              z-index: -1;
            }

            &:hover::after {
              width: 96%;
            }
          }

          @include desktopFullHD {
            & {
              font-size: 3rem;
              -webkit-text-stroke: 0.5px #ffffff;
              -webkit-text-fill-color: transparent;
            }

            &:not(:last-child) {
              margin-right: 10rem;
            }

            &::after {
              content: "";
              height: 0.3rem;
            }
          }

          a {
            text-decoration: none;
            color: $color-white;
          }
        }

        @include desktop {
          & {
            .active_nav_links {
              -webkit-text-stroke: transparent;
              -webkit-text-fill-color: $color-white;
            }
          }
        }
      }
    }

    .active_nav {
      transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
    }

    // Header Burger

    .burger {
      width: 3.75rem;
      height: 2rem;
      position: absolute;
      bottom: 0;
      right: 2rem;
      z-index: 90;
      cursor: pointer;

      @include tabletPortrait {
        & {
          right: 3rem;
        }
      }

      @include desktop {
        & {
          display: none;
        }
      }

      .burger_top {
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-white;
        @include transit3;
      }

      .burger_middle {
        width: 50%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, -50%);
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        background-color: $color-white;
        @include transit3;
      }

      .burger_bottom {
        width: 100%;
        height: 2px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $color-white;
        @include transit3;
      }

      .burgerTopClose {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(140deg);
        -webkit-transform: translate(-50%, -50%) rotate(140deg);
        -moz-transform: translate(-50%, -50%) rotate(140deg);
        -ms-transform: translate(-50%, -50%) rotate(140deg);
        -o-transform: translate(-50%, -50%) rotate(140deg);
      }

      .burgerMiddleClose {
        display: none;
      }

      .burgerBottomClose {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-140deg);
        -webkit-transform: translate(-50%, -50%) rotate(-140deg);
        -moz-transform: translate(-50%, -50%) rotate(-140deg);
        -ms-transform: translate(-50%, -50%) rotate(-140deg);
        -o-transform: translate(-50%, -50%) rotate(-140deg);
      }
    }
  }

  // Hero Content Container

  .container_section_hero_content_container {
    width: 100%;
    height: 40rem;
    max-width: 120rem;
    margin: 0 auto;
    @include absol-center;
    @include flex-center-col;

    @include tabletPortrait {
      & {
        margin: 0 auto 4rem;
      }
    }

    @include desktop {
      & {
        height: 35rem;
        margin: 0 auto;
      }
    }

    // Hero Content Title

    .container_section_hero_content_title {
      width: 100%;
      height: auto;
      margin-bottom: 3rem;
      @include flex-center;

      img {
        width: 80%;
        max-width: 60rem;
        height: auto;
        object-fit: contain;

        @include tabletPortrait {
          & {
            width: 70%;
          }
        }
      }

      .container_section_hero_content_media_desktop {
        display: none;

        img {
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          @include transit3;

          @include tabletPortrait {
            & {
              margin-top: 1rem;
            }
          }

          @include desktop {
            &:hover {
              transform: scale(1.3);
              -webkit-transform: scale(1.3);
              -moz-transform: scale(1.3);
              -ms-transform: scale(1.3);
              -o-transform: scale(1.3);
            }
          }
        }

        @include tabletPortrait {
          & {
            display: block;
            width: auto;
            height: auto;
            margin-right: 2.5rem;
            @include flex-center-col;
          }
        }

        @include tabletLandscape {
          & {
            height: 10rem;
            margin-top: 1.5rem;
            justify-content: flex-end;
          }
        }
      }
    }

    // Hero Content Subtitle

    .container_section_hero_content_subtitle {
      width: 100%;
      height: auto;
      margin-bottom: 3rem;
      @include flex-center;

      img {
        width: 80%;
        height: auto;
        object-fit: contain;

        @include tabletPortrait {
          & {
            width: 60%;
            max-width: 48rem;
          }
        }
      }
    }

    .container_section_hero_content_media_mobile {
      width: 10rem;
      height: auto;
      @include flex-center;
      justify-content: space-evenly;
      margin-bottom: 5rem;

      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
      }

      @include tabletPortrait {
        & {
          display: none;
        }
      }
    }

    // Hero Content CTA Button

    .container_section_hero_content_ctaBox {
      width: 100%;
      height: 8rem;
      @include flex-center;

      @include tabletPortrait {
        & {
          margin-top: 7rem;
        }
      }

      @include desktop {
        & {
          margin-top: 5rem;
        }
      }

      .container_section_hero_content_ctaBtn {
        padding: 0.5rem 2rem;
        text-decoration: none;
        color: $color-white;
        font-family: $primary-font;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 2.5rem;
        border: 0.1rem solid $color-white;
        background-color: transparent;
        @include flex-center;
        @include transit3;
        cursor: pointer;

        @include tabletPortrait {
          & {
            padding: 0.5rem 4rem;
            font-size: 4rem;
          }
        }

        @include desktop {
          & {
            font-size: 3rem;
          }
        }

        &:hover {
          background-color: $color-yellow;
          border: 0.1rem solid $color-yellow;
          color: $color-black;
          text-shadow: 0.1rem 0.1rem 0.3rem rgb(60, 58, 58);
        }
      }
    }
  }
}
