.container_section_projects {
  position: relative;

  .container_section_projects_container {
    @include absol-center;

    .slider {
      width: 20rem;
      height: 40rem;
      position: relative;
      overflow: hidden;

      .slide {
        @include keep-it-hundo;
        margin: 0;
        padding: 0 2rem;
        position: absolute;
        top: 0;
        @include transit3;

        img {
          @include keep-it-hundo;
          object-fit: cover;
        }
      }

      .slide1 {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
      }

      .slide2 {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
      }

      .slide3 {
        transform: translateX(200%);
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
      }

      .slide4 {
        transform: translateX(300%);
        -webkit-transform: translateX(300%);
        -moz-transform: translateX(300%);
        -ms-transform: translateX(300%);
        -o-transform: translateX(300%);
      }

      .slide5 {
        transform: translateX(400%);
        -webkit-transform: translateX(400%);
        -moz-transform: translateX(400%);
        -ms-transform: translateX(400%);
        -o-transform: translateX(400%);
      }
    }
  }

  /* PREV & NEXT ARROW STYLING */

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  .prev {
    left: 5%;
  }

  .next {
    right: 5%;
  }

  /* FONT AWESOME ARROW */

  i {
    color: $color-white;
    padding: 1rem;
    font-size: 2rem;
  }
}
