.container_section_contact {
  position: relative;

  &::before {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8)
    );
    z-index: -1;
  }

  &::after {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background-image: url("../public/images/prometheus-design-LS-Be4rUjFo-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
  }

  .container_section_contact_container {
    @include keep-it-hundo;
    @include flex-center-col;
    border: 1px solid red;
  }
}
