.container_section_projects {
  @include flex-center;

  .container_section_projects_container {
    @include keep-it-hundo;
    max-width: 120rem;
    @include flex-center-col;
    justify-content: flex-end;

    @include desktop {
      & {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    .container_section_projects_linksBox {
      width: 100%;
      max-width: 120rem;
      height: 45%;
      border: 1px solid green;

      @include desktop {
        & {
          width: 35%;
        }
      }

      .container_section_projects_ul {
        @include keep-it-hundo;
        @include flex-center-col;

        @include desktop {
          & {
            width: auto;
          }
        }

        .container_section_projects_li {
          width: 20rem;
          height: 4rem;
          list-style-type: none;
          @include flex-center;
          border: 0.1rem solid $color-white;
          cursor: pointer;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          @include tabletPortrait {
            & {
              width: 30rem;
              height: 6rem;
            }
          }

          @include desktop {
            &:hover {
              color: $color-black;
              background-color: $color-yellow;
              border: 0.1rem solid $color-yellow;
              text-shadow: 0.1rem 0.1rem 0.3rem rgb(60, 58, 58);
              @include transit3;
            }
          }

          p {
            font-size: 1.8rem;
            font-family: $secondary-font-bold;
            letter-spacing: 0.1rem;

            @include tabletPortrait {
              & {
                width: 30rem;
                font-size: 2.25rem;
              }
            }
          }

          img {
            display: none;
          }
        }
      }
    }

    .container_section_projects_contentBox {
      width: 100%;
      height: 45%;
      overflow: hidden;
      border: 1px solid white;

      @include desktop {
        & {
          width: 50%;
        }
      }

      .container_section_projects_modal {
        @include keep-it-hundo;
        position: relative;

        &::before {
          content: "";
          @include keep-it-hundo;
          @include absol_topLeftZero;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.5)
          );

          @include desktop {
            & {
              background: linear-gradient(
                to right,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0.5)
              );
            }
          }
        }

        .modalImage {
          @include keep-it-hundo;
          object-fit: cover;
        }
      }
    }
  }
}
