.container_section_contact {
  position: relative;

  &::before {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8)
    );
    z-index: -1;
  }

  &::after {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background-image: url("../public/images/prometheus-design-LS-Be4rUjFo-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
  }

  .container_section_contact_container {
    @include keep-it-hundo;
    @include flex-center-col;

    @include desktop {
      & {
        justify-content: flex-end;
        padding-bottom: 5rem;
      }
    }

    .container_section_contact_container_wrapper {
      width: 100%;
      height: 80%;
      max-width: 100rem;
      margin: 0 auto;
      @include flex-center-col;

      .container_section_contact_container_title {
        margin-bottom: 8rem;
        font-size: 3rem;
        letter-spacing: 0.5rem;

        @include tabletPortrait {
          & {
            font-size: 4rem;
          }
        }

        @include desktop {
          & {
            font-size: 2.2rem;
          }
        }

        @include desktopFullHD {
          & {
            font-size: 4rem;
          }
        }
      }

      form {
        width: 70%;
        height: 70%;
        @include flex-center-col;
        align-items: flex-end;

        .form_user_box {
          width: 100%;
          @include flex-center-col;
          align-items: flex-start;
          font-size: 1.75rem;

          @include desktopFullHD {
            & {
              font-size: 2.2rem;
            }
          }

          &:not(:nth-child(3)) {
            margin-bottom: 3rem;
          }

          label,
          input,
          textarea {
            width: 100%;
          }

          input,
          textarea {
            color: $color-white;
            background-color: transparent;
            border: 0.1rem solid $color-white;
          }

          label {
            text-align: start;
            letter-spacing: 0.2rem;
          }

          input {
            height: 4rem;

            @include desktop {
              & {
                font-size: 1.75rem;
              }
            }
          }

          textarea {
            resize: none;
          }

          .no_outline:focus {
            outline: transparent;
            border: 0.5px solid $color-yellow;
          }
        }

        button {
          margin-top: 2rem;
          padding: 0.5rem 2.2rem;
          color: $color-white;
          font-family: $primary-font;
          letter-spacing: 0.2rem;
          font-size: 2rem;
          background: transparent;
          border: 0.1rem solid $color-white;
          @include transit3;
          text-shadow: 0.1rem 0.1rem 0.3rem rgb(60, 58, 58);
          cursor: pointer;

          &:hover {
            color: $color-black;
            background-color: $color-white;
          }

          @include desktopFullHD {
            & {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}
