.container_section_contact {
  position: relative;

  &::before {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8)
    );
    z-index: -1;
  }

  &::after {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background-image: url("../public/images/prometheus-design-LS-Be4rUjFo-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
  }

  .container_section_contact_container {
    @include keep-it-hundo;
    @include flex-center-col;

    .container_section_contact_container_wrapper {
      @include keep-it-hundo;
      @include flex-center-col;

      .container_section_contact_container_title {
        margin-bottom: 5rem;
        font-size: 4rem;
        letter-spacing: 0.5rem;
      }

      form {
        width: 75%;
        height: 70%;
        @include flex-center-col;
        border: 1px solid red;

        .form_user_box {
          width: 100%;
          @include flex-center-col;
          align-items: flex-start;
          font-size: 2rem;

          &:not(:nth-child(3)) {
            margin-bottom: 3rem;
          }

          label,
          input,
          textarea {
            width: 100%;
          }

          input,
          textarea {
            background-color: transparent;
            border: 0.1rem solid $color-white;
          }

          label {
            text-align: start;
            letter-spacing: 0.2rem;
          }

          input {
            height: 4rem;
          }

          .no_outline:focus {
            outline: transparent;
            border: 0.5px solid $color-yellow;
          }
        }
      }
    }
  }
}
