@font-face {
  font-family: "BebasNeue";
  src: url(/public/fonts/BebasNeue-Regular.otf);
}

@font-face {
  font-family: "CenturyGothic";
  src: url(/public/fonts/GOTHIC.TTF);
}

@font-face {
  font-family: "CenturyGothicBold";
  src: url(/public/fonts/GOTHICB.TTF);
}
